<h1>Create a new cocktail</h1>

<%= simple_form_for (@cocktail) do |f| %>
  <div class="form-group">
    <%= f.input :name, id: 'new-cocktail-name' %>
  </div>
  <%= f.submit 'Validate your cocktail name', class:"btn btn-success", id: 'create' %>
<% end %>

<br>
<%= link_to 'Back to list', cocktails_path, class: "btn btn-primary" %>
