<div class="my-navbar">
  <div class="navbar-logo">
    <%= link_to "<i class=\"fas fa-cocktail\"></i>".html_safe, cocktails_path %>
  </div>
    <%= link_to "Create a new cocktail", new_cocktail_path, class: 'navbar-btn' %>
</div>
