.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1300px;
}

.cocktail-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .cocktail-card {
    box-shadow: 5px 5px 5px rgb(220, 220, 220);
    flex: 0 0 auto;
    width: 350px;
    margin: 10px;
  }
}
.cocktail-info-container {
  padding: 10px;
  height: 140px;
  h2 {
    font-size: 16px;
    margin: 0;
  }
  li {
    font-size: 12px;
  }
}
.cocktail-footer {
  background: white;
}


// .cocktail-card {
//   position:relative;
// }


// .cocktail-info-container {
//   height: 140px;
//   // width: 350px;
//   h2 {
//     font-size: 16px;
//   }
//   li {
//     font-size: 12px;
//   }

// }

// .cocktail-footer {
//   background-color: white;
//   position:absolute;
//   bottom: 0;
//   left: 0;
//   right:0;
//   width: 100%;

// }

